<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link href="../templates/style.css" rel="stylesheet"/>
    <title>Admin page</title>
  </head>
  <body>
    <!--main-page-container-->
    <div class="main-container container-fluid">
      <!--TOP NAVBAR-->
      <div class="row">
        <nav class="navbar col-12 navbar-dark top bg-dark flex-nowrap">
          <div class="admin-status d-flex flex-row px-3">
            <div class="bg-dark text-white px-1 py-2">
              <b><span sec:authentication="name">admin@mail.ru</span></b>
            </div>
            <div class="bg-dark text-white px-1 py-2">
              <span>with roles:</span>
            </div>
            <div class="bg-dark text-white px-1 py-2" th:each="role : ${#authentication.authorities}">
              <span th:text="${role}">ADMIN USER</span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!--UNDER NAVBAR-->
      <div class="row pr-3">
        <!--SIDEBAR-->
        <div class="sidebar col-2">
          <ul class="nav sidebar col-12 nav-pills pt-0">
            <li class="nav-item nav-fill">
              <a class="nav-link active" href="#admin-panel">Admin</a>
            </li>
            <li class="nav-item nav-fill">
              <a class="nav-link" href="#user-about">User</a>
            </li>
          </ul>
        </div>
        <!--ADMIN-PAGE-->
        <div class="col tab-content pt-3">
          <div class="tab-pane fade show active right" id="admin-panel">
            <div class="bg-light">
              <h1>Admin panel</h1>
            </div>
            <!--            TABS-->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#user-table">Users table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#user-editor">New User</a>
              </li>
            </ul>
            <!--            USER TABLE TAB-->
            <div class="tab-content bg-white">
              <div class="tab-pane fade show active" id="user-table">
                <div class="card">
                  <div class="card-header pb-1">
                    <h5>
                      <span class="align-middle">All users</span>
                    </h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1</td>
                        <td>Maksim</td>
                        <td>Shchepin</td>
                        <td>30</td>
                        <td>promayhem@mail.ru</td>
                        <td>ADMIN USER</td>
                        <td>
                          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editUserModal">Edit</button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal">Delete</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--              ADD USER EDITOR TAB-->
              <div class="tab-pane fade" id="user-editor">
                <div class="card">
                  <div class="card-header pb-1">
                    <h5>
                      <span class="align-middle">Add new user</span>
                    </h5>
                  </div>
                  <div class="card-body row text-center justify-content-center pb-1">
                    <div class="col-4">
                      <form class="x-0">
                        <div class="form-group">
                          <label class="mb-0" for="firstNameInput"><b>First name</b></label>
                          <input type="text" class="form-control form-control-sm" id="firstNameInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="lastNameInput"><b>First name</b></label>
                          <input type="text" class="form-control form-control-sm" id="lastNameInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="ageInput"><b>Age</b></label>
                          <input type="number" class="form-control form-control-sm" id="ageInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="emailInput"><b>Email</b></label>
                          <input type="email" class="form-control form-control-sm" id="emailInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="passwordInput"><b>Password</b></label>
                          <input type="password" class="form-control form-control-sm" id="passwordInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="roleSelect"><b>Role</b></label>
                          <select class="custom-select" size="2" id="roleSelect">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER" selected>USER</option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--USER-PAGE-->
        <div class="col tab-content pt-3">
          <div class="tab-pane fade show active right" id="user-about">
            <div class="bg-light">
              <h1>User information-page</h1>
            </div>
            <!--            USER TABLE TAB-->
<!--            <div class="tab-content ">-->
<!--              <div class="tab-pane fade show active" id="user-table">-->
                <div class="card bg-white">
                  <div class="card-header pb-1">
                    <h5>
                      <span class="align-middle">About users</span>
                    </h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1</td>
                        <td>Maksim</td>
                        <td>Shchepin</td>
                        <td>30</td>
                        <td>promayhem@mail.ru</td>
                        <td>ADMIN USER</td>
                        <td>
                          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editUserModal">Edit</button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal">Delete</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<!--              </div>-->
<!--            </div>-->
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </body>
</html>
