<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>User page</title>
    </head>
    <body>
    <div th:replace="header :: content"></div>
        <div data-th-align="center">
            <h1>User, welcome spring boot security page!</h1>
            <br>
            <h2>Your registration data:</h2><br>
            <table>
                <tr>
                    <th><h3>Name</h3></th>
                    <th><h3>Last name </h3></th>
                    <th><h3>Age</h3></th>
                    <th colspan="2"><h3>Car</h3></th>
                    <th><h3>Username</h3></th>
                    <th><h3>Password</h3></th>
                </tr>
                <th:block th:object="${modelUser}">
                    <td th:text="*{name}"></td>
                    <td th:text="*{lastname}"></td>
                    <td th:text="*{age}"></td>
                    <td th:text="*{car.color}"></td>
                    <td th:text="*{car.model}"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{password}"></td>
                </th:block>
            </table>
        </div>
    </body>
</html>