<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <title>Admin page</title>
  </head>
  <body>
    <!--main-page-container-->
    <div class="main-container container-fluid">
      <!--HEADER (navbar)-->
      <div class="row">
        <nav class="navbar col-12 navbar-dark top bg-dark flex-nowrap">
          <div class="admin-status d-flex flex-row px-3">
            <div class="bg-dark text-white px-1 py-2">
              <b><span sec:authentication="name">admin@mail.ru</span></b>
            </div>
            <div class="bg-dark text-white px-1 py-2">
              <span>with roles:</span>
            </div>
            <div class="bg-dark text-white px-1 py-2" th:each="role : ${#authentication.authorities}">
              <span th:text="${role}">ADMIN USER</span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!--UNDER HEADER-->
      <div class="row pr-3">
        <!--SIDEBAR-->
        <div class="sidebar col-2">
          <ul class="nav sidebar col-12 nav-pills pt-0">
            <li class="nav-item nav-fill" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="nav-link active" href="/admin">Admin</a>
            </li>
            <li class="nav-item nav-fill">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        </div>
        <!--ADMIN-PAGE-->
        <div class="col tab-content pt-3">
          <div class="tab-pane fade show active right" id="admin-panel">
            <div class="bg-light">
              <h1>Admin panel</h1>
            </div>
            <!--            TABS-->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="userTableButtonTab" data-toggle="tab" href="#userTable">Users table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="editUserButtonTab" data-toggle="tab" href="#userEditor">New User</a>
              </li>
            </ul>
            <!--            USER TABLE TAB-->
            <div class="tab-content bg-white">
              <div class="tab-pane fade show active" id="userTable">
                <div class="card">
                  <div class="card-header pb-1">
                    <h5>
                      <span class="align-middle">All users</span>
                    </h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped" id="usersTable">
                      <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!--    EDIT USER MODAL WINDOW-->
              <div class="modal fade" tabindex="-1" role="dialog" id="editUserModal"
                   aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form class="x-0" method="post">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row text-center justify-content-center pb-1">
                            <div class="col-6">

                              <div class="form-group">
                                <label class="mb-0" for="idInputModalEdit"><b>ID</b></label>
                                <input type="text" class="form-control form-control-sm" id="idInputModalEdit"
                                       readonly>
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="firstNameInputModalEdit"><b>First name</b></label>
                                <input type="text" class="form-control form-control-sm"
                                       required id="firstNameInputModalEdit">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="lastNameInputModalEdit"><b>Last name</b></label>
                                <input type="text" class="form-control form-control-sm"
                                       id="lastNameInputModalEdit">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="ageInputModalEdit"><b>Age</b></label>
                                <input type="number" class="form-control form-control-sm"
                                       id="ageInputModalEdit">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="usernameInputModalEdit"><b>Email</b></label>
                                <input type="email" class="form-control form-control-sm"
                                       required id="usernameInputModalEdit">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="passwordInputModalEdit"><b>Password</b></label>
                                <input type="password" class="form-control form-control-sm"
                                       required id="passwordInputModalEdit">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="rolesSelectModalEdit"><b>Role</b></label>
                                <select class="custom-select" size="2" id="rolesSelectModalEdit"
                                        required multiple>
                                  <option>
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="editButtonModalEdit"
                                data-dismiss="modal">Edit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!--    DELETE USER MODAL WINDOW-->
              <div class="modal fade" tabindex="-1" role="dialog" id="deleteUserModal"
                   aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form class="x-0" method="get">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row text-center justify-content-center pb-1">
                            <div class="col-6">

                              <div class="form-group">
                                <label class="mb-0" for="idInputModalDelete"><b>ID</b></label>
                                <input type="text" class="form-control form-control-sm"
                                       id="idInputModalDelete"
                                       disabled name="id">
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="firstNameInputModalDelete"><b>First name</b></label>
                                <input type="text" class="form-control form-control-sm"
                                       id="firstNameInputModalDelete"
                                       disabled>
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="lastNameInputModalDelete"><b>Last name</b></label>
                                <input type="text" class="form-control form-control-sm"
                                       id="lastNameInputModalDelete"
                                       disabled>
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="ageInputModalDelete"><b>Age</b></label>
                                <input type="number" class="form-control form-control-sm"
                                       id="ageInputModalDelete"
                                       disabled>
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="usernameInputModalDelete"><b>Email</b></label>
                                <input type="email" class="form-control form-control-sm"
                                       id="usernameInputModalDelete"
                                       disabled>
                              </div>
                              <div class="form-group">
                                <label class="mb-0" for="rolesSelectModalDelete"><b>Role</b></label>
                                <select class="custom-select" size="2" id="rolesSelectModalDelete" disabled>
                                  <option>
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="deleteButtonModalDelete" data-dismiss="modal" class="btn btn-danger">Delete</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!--              ADD USER EDITOR TAB-->
              <div class="tab-pane fade" id="userEditor">
                <div class="card">
                  <div class="card-header pb-1">
                    <h5>
                      <span class="align-middle">Add new user</span>
                    </h5>
                  </div>
                  <div class="card-body row text-center justify-content-center pb-3">
                    <div class="col-4">
                      <form class="x-0" method="post">
                        <input type="hidden"/>
                        <div class="form-group">
                          <label class="mb-0" for="firstNameInput"><b>First name</b></label>
                          <input type="text" class="form-control form-control-sm" required id="firstNameInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="lastNameInput"><b>Last name</b></label>
                          <input type="text" class="form-control form-control-sm" id="lastNameInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="ageInput"><b>Age</b></label>
                          <input type="number" class="form-control form-control-sm" id="ageInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="usernameInput"><b>Email</b></label>
                          <input type="email" class="form-control form-control-sm" required id="usernameInput">
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="passwordInput"><b>Password</b></label>
                          <input type="password" class="form-control form-control-sm" id="passwordInput" required>
                        </div>
                        <div class="form-group">
                          <label class="mb-0" for="rolesInput"><b>Role</b></label>
                          <select class="custom-select" size="2" id="rolesInput" required multiple>
                          </select>
                        </div>
                        <button type="button" onclick="addNewUser()" id="addNewUserButton" class="btn btn-success btn-lg">Add new user</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    LOGOUT MODAL WINDOW-->
    <div th:replace="logout_modal :: logout-navbar"></div>

    <script src="/adminScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </body>
</html>
