<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>User form</title>
    </head>
    <body>
        <div th:replace="header :: content"></div>
        <h1>Editor:</h1>
        <br><br>
        <form th:action="@{saveUser}" method="post" th:object="${modelUser}">
            <input type="hidden" th:field="*{id}"/><br><br>
            <input type="text" placeholder="Username" th:field="*{username}"/><br><br>
            <input type="password" placeholder="Password" th:value="''" th:field="*{password}"/><br><br>
            <input type="password" placeholder="Confirm password" th:value="''" th:field="*{confirmPassword}"/><br><br>
            <input type="text" placeholder="Name" th:field="*{name}"/><br><br>
            <input type="text" placeholder="Last name" th:field="*{lastname}"/><br><br>
            <input type="number" placeholder="Age" th:field="*{age}"/><br><br>
            <input type="text" placeholder="Car brand" th:field="*{car.model}"/><br><br>
            <input type="text" placeholder="Car color" th:field="*{car.color}"/><br><br>

            <div th:switch="${errorMessage}" th:inline="text">
                <span th:case="1">Sorry, but username [[*{username}]] is already taken, please choose another one</span>
                <span th:case="2">Sorry, but passwords don`t match, please try again</span>
            </div><br>
<!--            <table>-->
<!--                <tr>-->
<!--                    <td>Roles:</td>-->
<!--                </tr>-->
<!--                <th:block th:each="role : ${roleList}">-->
<!--                    <tr>-->
<!--                        <td th:text="${role.name}"></td>-->
<!--                        <td><input type="checkbox" th:field="${user.roles}" th:value="|${role}|"/></td>-->
<!--                    </tr>-->
<!--                </th:block>-->
<!--            </table>-->
            <button type="submit"> Save</button>
            <button type="button" onclick="window.location.href='/admin'">Back</button>
        </form>
    </body>
</html>